<!doctype html>
<html lang="fr">

	<head>

		<!-- Meta-données -->
		<meta charset="utf-8">
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

		<!-- Titre et description de la page -->
		<title>Emendare.fr, le jeu démocratique et citoyen</title>
		<meta name="description" content="Exprimez votre opinion en vous amusant !">

		<!-- Meta-données pour Facebook -->
		<meta property="og:url" content="http://emendare.fr/">
		<meta property="og:title" content="Emendare.fr, le jeu démocratique et citoyen">
		<meta property="og:description" content="Exprimez votre opinion en vous amusant !">
		<meta property="og:image" content="cover.jpg" />

		<!-- Feuille de styles -->
		<!--<link rel="stylesheet" href="bundle.css">-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	</head>

	<body>

	<!-- Conteneur de l'application -->
		<div id="app"></div>

		<!-- Scripts principaux -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
		<script>var socket = io();</script>
		<script src="bundle.js"></script>

		<!-- Script Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83352204-1', 'auto'); ga('send', 'pageview');
		</script>


	</body>

</html>
